<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/style-unauth.css">
</head>
<body>

    <h1>Sign Up</h1>

    <form action="/auth/sign-up" method="post">
        <label> Enter Username: </label>
        <input type="text" name="username"/>

        <br>

        <label> Enter Password: </label>
        <input type="password" name="password"/>

        <br>

        <label> Confirm Password: </label>
        <input type="password" name="confirmPassword" />

        <br>

        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>