<%- include('../partials/navbar') %>

    <h1>Sign In</h1>

    <form action="/auth/sign-in" method="post">
        <label> Enter Username: </label>
        <input type="text" name="username"/>

        <label> Enter Password: </label>
        <input type="password" name="password"/>

        <button type="submit">Sign In</button>
    </form>
    
</body>
</html>