<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style-unauth.css">
</head>
<body>

    <h1>Sign In</h1>

    <div class="signin">
        <form action="/auth/sign-in" method="post">
            <label> Enter Username: </label>
            <br/>
            <input type="text" name="username"/>

            <br/>

            <label> Enter Password: </label>
            <br/>
            <input type="password" name="password"/>

            <br/>
            <br/>

            <button type="submit" class="sign-inBtn">Sign In</button>
        </form>
    </div>
</body>
</html>