<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style-unauth.css">
</head>
<body>

    <h1>Sign In</h1>

    <form action="/auth/sign-in" method="post">
        <label> Enter Username: </label>
        <input type="text" name="username"/>

        <label> Enter Password: </label>
        <input type="password" name="password"/>

        <button type="submit">Sign In</button>
    </form>
    
</body>
</html>