

    <h1>Sign Up</h1>

    <form action="/auth/sign-up" method="post">
        <label> Enter Username: </label>
        <input type="text" name="username"/>

        <label> Enter Password: </label>
        <input type="password" name="password"/>

        <label> Confirm Password: </label>
        <input type="password" name="confirmPassword" />

        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>