<%- include('../partials/navbar') %>
<center>
    <h1>Add a New Book</h1>
    <div class="new-part">
        <form action="/books/create"  method="post" enctype="multipart/form-data">
            <label>Title: </label>
            <br/>
            <input type="text" name="title"/>

            <br/>

            <label>Author: </label>
            <br/>
            <input type="text" name="author"/>

            <br/>

            <label>Pages: </label>
            <br/>
            <input type="number" name="pages" min="0"/>

            <br/>

            <label>Genre: </label>
            <br/>
            <select name="genre" id="genre">
                <option value="Classic Literature">Classic Literature</option>
                <option value="Contemporary">Contemporary</option>
                <option value="Fantasy"> Fantasy</option>
                <option value="Mystery Thriller"> Mystery & Thriller</option>
                <option value="Science Fiction"> Science Fiction</option>
                <option value="Non Fiction"> Non-Fiction </option>
            </select>

            <br/>

            <label>Reading Status: </label>
            <br/>
            <select name="readingStatus" id="readingStatus">
                <option value="Currently Reading">Currently Reading</option>
                <option value="Done Reading">Done Reading</option>
                <option value="To Be Read">To Be Read</option>
            </select>

            <br/>

            <label>Image: </label>
            <br/>
            <input type="file" name="image" accept="image/jpeg,image/png" required/>

            <br/>
            <br/>

            <button type="submit" class="newBtn">Submit</button>
        </form>
    </div>
</center>
</body>
</html>