<%- include('../partials/navbar') %>

    <h1>Add a New Book</h1>
    
    <form action="/books" method="post" enctype="multipart/form-data">
        <label>Title: </label>
        <input type="text" name="title"/>

        <label>Author: </label>
        <input type="text" name="author"/>

        <label>Pages: </label>
        <input type="number" name="pages"/>

        <label>Reading Status: </label>
        <select name="readingStatus" id="readingStatus">
            <option value="Currently Reading">Currently Reading</option>
            <option value="Done Reading">Done Reading</option>
            <option value="To Be Read">To Be Read</option>
        </select>

        <label>Image: </label>
        <input type="file" name="image" accept="image/jpeg,image/png"/>

        <button type="submit">Submit</button>
    </form>
</body>
</html>