<%- include('../partials/navbar') %>

    <title>Reviews</title>
    
    <center><p class="title-size">My Reviews</p></center>

    <div class="review-section">
        <% if (reviews && reviews.length > 0) { %>
            <% reviews.forEach(review => {  %>
                <div class="review-card">
                    <p>Review of: <%= review.book.title %></p>
                    <p>Rating: </p>
                    <% if(review.rating === 'five') { %> ⭐⭐⭐⭐⭐
                    <% } else if (review.rating === 'four') { %> ⭐⭐⭐⭐
                    <% } else if (review.rating === 'three') { %> ⭐⭐⭐
                    <% } else if (review.rating === 'two') { %> ⭐⭐
                    <% } else if (review.rating === 'one') { %> ⭐
                    <% } %>

                    <p>Comment: <%= review.comment %></p>
                </div>
        <% }) %>
    </div>
    <% } else { %>
        <p> You have not reviewed any book.</p>
    <% } %>
</body>
</html>