<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <nav>
        <ul>
            <!-- <li class="nav-style"> -->
                <a href="/dashboard" class="link-style">Dashboard</a>
            <!-- </li> -->
            <!-- <li class="nav-style"> -->
                <a href="/books" class="link-style">My Books</a>
            <!-- </li> -->
            <!-- <li class="nav-style"> -->
                <form action="/auth/sign-out?_method=DELETE" method="post">
                    <button type="submit" class="signout-btn">Sign Out</button>
                </form>
            <!-- </li> -->
        </ul>
    </nav>