<%- include('./partials/navbar') %>

    <!--  -->

    <a href="/books">
        <div class="all-books" >
            <p>My Books Collection</p>
        </div>
    </a>

    <a href="/books/favorites">
        <div class="all-favorites">
            <p>My Favorite Books</p>
        </div>
    </a>

    <a href="/books/reviews">
        <div class="all-reviews">
            <p>My Reviews</p>
        </div>
    </a>

</body>
</html>