<%- include('./partials/navbar') %>

    <!-- <p> Dashboard </p> -->
    <div class="book-section">
        <a href="/books">
            <div class="book-card" >
                <p>My Books Collection</p>
            </div>
        </a>

        <a href="/books/favorites">
            <div class="book-card">
                <p>My Favorite Books</p>
            </div>
        </a>

        <a href="/books/reviews">
            <div class="book-card">
                <p>My Reviews</p>
            </div>
        </a>
    </div>

</body>
</html>