<%- include('./partials/navbar') %>

    <!-- <p> Dashboard </p> -->
    <div class="book-section">
        <a href="/books" class="nolines">
            <div class="book-card" >
                <p>My Books</p>
            </div>
        </a>

        <a href="/books/favorites" class="nolines">
            <div class="book-card">
                <p>Favorites</p>
            </div>
        </a>

        <a href="/books/reviews" class="nolines">
            <div class="book-card">
                <p>Reviews</p>
            </div>
        </a>
    </div>

</body>
</html>