<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="stylesheets/style-unauth.css">
</head>
<body>

    <div class="home-container">

        <center><h2>Books Tracker</h2>

        <div class="home-part">
            <p>Create an account: </p>
            <a href="auth/sign-up">
                <button type="submit" class="sign-upBtn">Sign Up</button>
            </a>
                
            <p>Already have an account? </p>
            <a href="auth/sign-in" class="sign-inBtn signin-Link"> Sign In</a>
        </div> 
        </center>

    </div>
</body>
</html>