@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #E8ECEF;
    display: flex;
    flex-direction: column;
    font-family: "Platypi", serif;
    margin: 0;
    color: #1C2B48;
}

nav {
    background-color: #1C2B48;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0;
    padding: 25px;
}

nav li {
    display: flex;
    gap: 20px;
}

.link-style {
    color: #f7f3e9;
    text-decoration: none;
}

.link-style:hover {
    text-decoration: underline;
    color: #c4D8E5;
}

.signout-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
}

.signout-btn:hover {
    color: #c4D8E5;
    text-decoration: underline;
}

.title-search {
    justify-content: center;
    align-items: center;
}

.book-section,
.favorite-section,
.review-section {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: center;
}

.book-card,
.favorite-card,
.review-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border: 2px solid #1C2B48;
    border-radius: 20px;
    justify-content: center;
    background-color: #CDD8E1;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card:hover {
    transition: translateY(-4px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.book-card a {
    text-decoration: none;
}

.centering {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.show-page {
    margin: 40px auto;
    padding: 0 20px;
    max-width: 900px;
    width: 80%;
}

.details-part {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 40px;
}

.details-left p {
    font-size: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.book-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.details-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.details-right img {
    border-radius: 15px;
    object-fit: cover;
    width: 250px;
    height: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08)
}

.edit-delete-btn {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

.editBtn,
.deleteBtn {
    border: 1px solid #1C2B48;
    border-radius: 8px;
    background-color: #CDD8E1;
    font-size: 15px;
    padding: 8px;
    font-family: "Platypi", serif;
    cursor: pointer;
}

.editBtn:hover,
.deleteBtn:hover {
    background-color: #1C2B48;
    color: #E8ECEF;
}

.fav {
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
}

.favorite-part {
    margin-top: 20px;
}

.review-part {
    background-color: #CDD8E1;
    padding: 30px;
    margin-top: 30px;
    border: 2px solid #1C2B48;
    border-radius: 16px;
    margin-top: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#comment {
    border: 1px solid #1C2B48;
    max-width: 480px;
    min-height: 100px;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.reviewBtn,
.updateBtn,
.newBtn, .favBtn {
    border: 1px solid #1C2B48;
    border-radius: 8px;
    background-color: #E8ECEF;
    font-size: 15px;
    padding: 8px;
    font-family: "Platypi", serif;
    cursor: pointer;
}

.reviewBtn:hover,
.updateBtn:hover,
.newBtn:hover, .favBtn:hover {
    background-color: #1C2B48;
    color: #E8ECEF;
}

.edit-part,
.new-part {
    border: 2px solid #1C2B48;
    border-radius: 16px;
    text-align: center;
    padding: 30px;
    margin: 40px auto;
    max-width: 450px;
}

.title-size {
    font-size: 25px;
}

.details-link {
    text-decoration: none;
    color: #1C2B48;
}

.details-link:hover {
    text-decoration: underline;
    color: #717f9a;
}

.nolines {
    text-decoration: none;
    font-size: 20px;
}